.home {
	width: 100vw;
	height: 100vh;

	display: flex;
}

.home__aside {
	flex: 1;
}

.home__header {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.home__header--title {
	padding: 10px 0px;

	font-size: 4.2rem;
	font-weight: 700;
}

.home__header--desc {
	padding: 10px 0;
	font-size: 2rem;
}

.home__body {
	padding: 20px 0px;
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px) { /* to disable nav toggle */
	.home__nav--toggle {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.home__nav {
		display: none
	}
}